html{
    height: 100%;
    font-size: 62.5%
}
img {
    width: 100%;
}
body {
    background: #fff;
}
/*通用部分*/
.box-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-tuo {
    display: flex;
    flex-direction: column;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
/*页眉*/
header {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1d7ad9;
    padding: 0 18.7%;
}
.telephone {
    font-size: 1.4rem;
    color: white;
}
.header-button {
    width: 5rem;
    height: 4rem;
    color: #fff;
    font-size: 1.6rem;
    border: 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    outline: none;
    background-color: transparent;
}
.header-button:hover {
    width: 10rem;
    color: black;
    background: #fff;
}
@media all and (max-width: 789px) {
    header {padding: 0 3%}
}
/*导航栏修改样式*/
.navigation {
    align-items: center;
    height: 10rem;
    background: #f9f9f9;
    padding: 0 18.7%;
}
.nav-item {
    font-size: 1.6rem;
    background: white;
    margin-left: 6rem;
    border-radius: 5px;
}
/*悬浮变色*/
.nav-item:hover {
    background: #1d7ad9;
}
.nav-link:hover {
    color: white;
}
@media all and (max-width: 1200px){
     .nav-item {margin-left: 3rem}
}
@media all and (max-width: 789px) {
    .nav-item {margin-left: 1rem}
    .navigation {padding: 0 3%}
}
/*流程图*/
.flowchart {
    display: flex;
    justify-content: flex-end;
    height: 14rem;
    padding: 0 18.7%;
}
.flowchart-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flowchart-box-bg {
    flex: 0 0 100%;
    height: 0.5rem;
    width: 4rem;
    border-radius: 100px;
    background: #ccc;
}
.flowchart-box-circular {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 2rem;
    width: 2rem;
    margin-top: -3.3rem;
    border-radius: 100px;
    background: #ccc;
    font-size: 1.6rem;
    color: white;
}
.flowchart-box-word {
    margin-top: -5rem;
    font-size: 1.8rem;
    color: #ccc;
}
/*流程图悬浮变色*/
.flowchart-box:hover .flowchart-box-bg {
     background: #ff650e;
 }
.flowchart-box:hover .flowchart-box-circular {
    background: #ff650e;
}
.flowchart-box:hover .flowchart-box-word {
    color: #ff650e;
}
/*标题*/
.title {
    margin: 0 18.7% 1.5rem 18.7%;
    font-size: 2.2rem;
    color: black;
    text-indent: 1rem;
    border-left: 4px solid #1d7ad9;
}
/*选择框*/
.selection-box {
    margin: 0 18.7% 5.4rem 18.7%;
    border: 1px solid #e8e8e8;
    border-radius: 10px 10px 0 0;
}
@media all and (max-width: 1650px){
    .selection-box {margin: 0 5%}
    .flowchart {padding: 0 5%}
}
.box-type {
    display: flex;
    align-items: center;
    height: 4.5rem;
    background: #f4f4f4;
    color: #1d7ad9;
    font-size: 1.8rem;

}
.bg-box {
    margin: 0 2.5rem;
    width: 19px; height: 15px;
    background: url('css10_sprites.png') -10px -122px;
}
.radio-column {
    height: 8.6rem;
    background: #fbfcff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.radio-column-input {
    margin-left: 4.6rem;
    display: flex;
    color: black;
    font-size: 1.8rem;
    align-items: center;
}
.bg-ruler {
    margin: 0 2.5rem;
    width: 22px; height: 20px;
    background: url('css10_sprites.png') -122px -10px;
}
.bg-cut {
    margin: 0 2.5rem;
    width: 15px; height: 20px;
    background: url('css10_sprites.png') -122px -50px;
}
/*下拉按钮*/
.btn-group {
    border: 1px solid #999;
    margin-right: 4.6rem;
}
.btn-danger {
    background: white;
    color: #999;
    font-size: 1.4rem;
    border: none;
}
.dropdown-toggle-split {
    background: #1d7ad9;

}
/*下一步*/
.next-step {
    height: 28.5rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.next-step-up {
    height: 4.6rem;
    width: 18rem;
    background: #e15053;
    color: #fff;
    font-size: 2.2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*页尾*/
footer {
    background: #f9f9f9;
    padding: 0 18.7%;
    display: flex;
    justify-content: space-between;
}
.footer-box {
    color: #999;
    margin: 6.9rem 0 0 0;
    font-size: 1.6rem;
    display: flex;
}
.bg-erweima {
    margin: 6.9rem 1rem;
    width: 92px; height: 92px;
    background: url('css10_sprites.png') -10px -10px;
}
.footer-button {
    height: 3.2rem;
    background: #1d7ad9;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-box>
p:hover {
    color: #3985db;
}
/*页脚媒体查询*/
@media all and (max-width: 1200px){
     footer {
         padding: 0 5%;
     }
    .radio-column {
        height: 20rem;
    }
}
@media all and (max-width: 789px){
    footer {
        flex-direction: column;
    }
    .footer-box {
        margin: 2rem 0 0 0;
    }
    .radio-column {
        height: 18rem;
    }
}
/*按钮*/
input[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #d6d6d6;

}
input[type="radio"]:checked + label::before {
    border: .4em solid #1d7ad9;
    background-color: #fff;
}
input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
/*input宽高*/
.input-width {
    margin: 0 0 0 4rem;
    font-size: 1.8rem;
    color: black;
}
.input-width>p {
    margin: 1rem;
}
.input-height {
    width: 9rem;
    height: 3rem;
    border: 1px solid #e7e7e7;
}
@media all and (max-width: 900px){
     .ab {
         flex-direction: column;
         flex-wrap: nowrap;
         align-items: flex-start;
     }
    .abc {
        height: 35rem;
    }
}
.dropdown-menu {
    margin-left: -6.18rem;
}