html{
    height: 100%;
    font-size: 62.5%
}
body {
    background: #fafafa;
    width: 100%;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color:white;
}
a:hover {
    text-decoration: none;
    color:white;
}
/*通用部分*/
.box-flex {
    display: flex;
}
/*以下页眉部分*/
header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18.7%;
    background: #ffffff;
}
/*电话*/
header .telephone {
    font-size: 1.4rem;
    color: #56bc8e;
}
/*三图标*/
header .bg-weixin {
    width: 25px; height: 24px;
    background: url('css_sprites8-2.png') -227px -152px;
}
header .bg-qq {
    width: 25px; height: 24px;
    background: url('css_sprites8-2.png') -137px -152px;
    margin-left: 1.7rem;
}
header .bg-weibo {
    width: 25px; height: 24px;
    background: url('css_sprites8-2.png') -182px -152px;
    margin-left: 1.7rem;
}
/*超小设备电话消失*/
@media all and (max-width: 768px){
    header {justify-content: flex-end}
    .telephone {display: none}
}
/*导航栏部分*/
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #29b078;
}
/*技能书logo*/
.bg-logo {
    width: 107px; height: 49px;
    background: url('css_sprites8-2.png') -10px -152px;
    margin:0 0 0 18.7%;
}
/*首页框*/
.navigation .box-container {
    display: flex;
    margin: 0 15.5% 0 0;
}
.navigation .box {
    width: 10rem;
    height: 10rem;
}
.navigation .box .box-word {
    width: 10rem;
    height: 9.6rem;
    font-size: 1.6rem;
    color: #fff;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
}
.navigation .box .box-border {
    background: #fff;
    height: 0.4rem;
    width: 10rem;
    display: none;
}
/*悬浮显示下边框*/
.box:hover .box-border{
    display: block;
}
/*大小设备边距变换*/
@media all and (max-width: 1200px){
    .bg-logo {margin: 0 0 0 5%}
    .navigation .box-container {margin: 0 5% 0 0}
}
@media all and (max-width: 768px){
    .navigation .box-container {display: none}
}
/*导航按钮*/
.navigation-button {
    margin: 1rem 2rem;
    display: none;
}
@media all and (max-width: 768px){
    .navigation-button {display: block;}
}
/*下拉框*/
.column {
    display: none;
    text-decoration: none;
    width: 100%;
    margin: 1rem 0;
    line-height: 50px;
    font-size: 1.6rem;
    text-align: center;
    color: white;
    background-color: #29b078;
    padding: 0;
}
/*悬浮li有反应*/
.column-sm:hover{
    background: #47d197;;
}
@media all and (max-width: 768px){
    .navigation {flex-wrap: wrap}
    input[type=checkbox]:checked~ .column{
        display: block;
    }
}
@media all and (min-width: 768px){
    input[type=checkbox]:checked~ .column{
        display: none;}

}
/*合作企业顺序部分*/
.order {
    display: flex;
    align-items: center;
    margin: auto 18.7%;
    color: black;
    font-size: 1.6rem;
    height: 7.9rem;
}
.order>span {
    color: #3fb582;
}

@media all and (max-width: 768px){
    .order {margin: auto 5%}
}
/*方向栏*/
.direction {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 18.75%;
    font-size: 1.4rem;
    color: #999;
    border-top: 1px solid #d0d6d9;
    border-bottom: 1px solid #edf1f2;
}
/*职业选择*/
.career-choice {
    font-size: 1.4rem;
    color: black;
    margin: 2.3rem 1.7rem;
    border: none;
    outline: none;
    background-color: transparent;
}
.career-choice:hover {
    background: #29b078;
    color: #ffffff;
}
/*前端开发方向栏*/
.front-end {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: black;
    height: 8.1rem;
    margin: 0 18.75%;
    border-bottom: 1px solid #d0d6d9;
}
.front-end-content {
    display: flex;

    margin: 4.8rem 18.75% 0 18.75%;
}
/*职业介绍框*/
.career-introduction {
    flex: 0 1 31.83%;
    margin-right: 2.5rem;
    border:1px solid #f6f6f6;
    border-radius: 10px;
}
.career-introduction-box {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    color: black;
}
.career-introduction-box>p {
    margin: 3.4rem 1rem;
}
.career-introduction-box>p>span {
    font-size: 1.4rem;
}
/*人像*/
.bg-renxiang {
    width: 139px; height: 139px;
    background: url('css8-3_sprites .png') -10px -10px;
    margin: 0 1.1rem;
    flex-shrink: 0;
}
.career-introduction-box1 {
    display: flex;
    flex-wrap: wrap;
}
.career-introduction-box1-bg {
    display: flex;
    align-items: center;
    flex: 1 1 50%;
    color: #a9a9a9;
    border: 1px solid #edf1f2;
}
.career-introduction-box1-bg>p>span {
    color: red;
    margin: 1.2rem 0
}
.career-introduction-box1-bg>span {
    color: black;
    margin: 1.2rem 0
}
.bg-xingxing {
    width: 16px; height: 15px;
    background: url('css8-3_sprites .png') -169px -122px;
    margin: 1.2rem 0 1.2rem 1.4rem;
}
.career-introduction-box2 {
    display: flex;
}
.career-introduction-box2-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 39.5%;
    color: #a9a9a9;
    border-bottom: 1px solid #edf1f2;
}
.career-introduction-box2-bg>p {
    margin: 4.6rem 0;
}
.career-introduction-box2-bg1 {
    display: flex;
    flex-direction: column;
    flex: 1 1 60.5%;
    color: black;
}
.career-introduction-box2-bg1-word {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 100%;
    border-left: 1px solid #edf1f2;
    border-bottom: 1px solid #edf1f2;
}
.career-introduction-box2-bg1-word>p {
    margin: 1rem 1rem 1rem 2.4rem;
}
.career-introduction-box3 {
    display: flex;
    flex: 1 1 100%;
    color: black;
    font-size: 1.4rem;
    border-bottom: 1px solid #edf1f2;
}
.career-introduction-box3>p {
    margin: 1rem;
}
.career-introduction-box3>p>span {
    color: red;
}
.career-introduction-box4 {
    display: flex;
    flex: 1 1 100%;
    color: #a9a9a9;
}
.career-introduction-box4>p {
    margin: 1rem;
}
.hover-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: black;
    width: 30.4rem;
    color: white;
    font-size: 1.6rem;
    opacity: 0;
    pointer-events: none;
    transition: linear 0.3s;
}
.hover-box>p {
    margin: 0 3rem;
}
.career-introduction:hover .hover-box {
    opacity: 0.7;
}
@media all and (max-width: 1450px){
    .front-end-content {
        flex-wrap: wrap;
    }
}
/*页尾部分*/
footer {
    display: flex;
    flex-wrap: wrap;
    background: #26a26f;
    margin-top: 23.8rem;
}
.footer-box {
    width: 33.33%;
    height: 10rem;
    margin: 3.7rem 0;
    padding-left: 18%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.6rem;
    color: #fff;
}

.footer-box1{
    width: 33.33%;
    margin: 3.7rem 0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.6rem;
    color: #fff;
}
.footer-box2{
    width: 33.33%;
    margin: 3.7rem 0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.6rem;
    color: #fff;
}
.footer-box3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.5rem;
    color: #f5f9f7;
    border-top: 1px solid #32c086;
}
.bg-erweima {
    width: 92px; height: 92px;
    background: url('css_sprites8-2.png') -164px -10px;
}


